/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
     width: 800px;
     height: 100%;
     background-color: #333;
     color: white;
     font-family: sans-serif;
  }

  header {
      background-color: turquoise;
      padding: 5px;
      font-size: 30px;
      color:
      border: 50px solid black;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    text-decoration: underline;
  }
  
  h2 { 
      color:yellowgreen;
      font-size: 20px;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a {
      color: white;
  }
  section {
      width: 73%;
      display: inline-block;
      float: left;
  }

  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  } */