/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

html {
    height: 100%;
  }
  body {
     width: 800px;
     height: 100%;
  }
  
  h1 {
      color: green;
      font-size: 90px;
      font-family: cursive;
      display: inline-block;
      vertical-align: middle;
      box-shadow: 0 10px 20px rgba (0,0,0,0.19), 0 6px 6px rgba (0, 0, 0, 0.23); 
  }

  header img {
      vertical-align: middle;
  }

  h2 {
      color: rgb(68, 32, 32);
      font-size: 30px;
  }

  ul {
      font-size: 30px;
      text-align: center;
  }

  header {
      color: rgb(44, 56, 44);
      background-color: rgb(193, 240, 214);
      padding: 5px;
      font-size: 30px;
      display: block;
  }
  nav {
      float: left;
      width: 100%;
  }
  nav ul {
      padding: ;
      float: left;
      border-bottom: ;
      list-style-type: none;
  }
  nav li {
      float: left;
  }
  nav li a {
      display: block;
      height: 25px;
      padding: 12px 18px 8px 18px;
      vertical-align: middle;
  }
  a {
      color: ;
  }
  section {
      width: 73%;
      display: inline-block;
      float: left;
  }
  aside {
      width: 17%;
      display: inline-block;
      background-color:;
      padding:;
      min-height: 100%;
  }
  aside ul {
      list-style-type: none;
  }
  footer {
      width: 790px;
      background-color:;
      color:;
      clear: both;
      display: block;
  }
